# Object files
*.o
*.ko
*.obj
*.elf
.sconsign.dblite
unittests
hammer
nail

# Project files
.cproject
.project

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.os
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
config.log
build/
.sconf_temp/
